# Lesson 1. Binary Search, Linked Lists, and Complexity Analysis

## Question. find the position of a given number in a list arranged in decreasing order with the least access times.

### 最先的想法

In [1]:
def locate_card(cards, query):
    
    small, big = 0, len(cards) - 1
    
    while small <= big:
   
        mid = (small+big) // 2
        mid_number = cards[mid]
        
          
        if mid_number == query:
            return mid
            
        elif mid_number < query:
            big = mid - 1
            
        elif mid_number > query:
            small = mid + 1
    
    return -1

### create tests set for later test. 一個test是一個dictionary, test set是由很多dictionary組成的list.

In [2]:
test = {
    "input":{
        "cards":[7,6,5,4,3,2,1],
        "query":3
    },
 
    "output":4
}

In [3]:
tests = []
tests.append(test)
tests.append({
    "input":{
        "cards":[10,9,8,8,8,8,5],
        "query":8
    },
    "output":2
})

In [4]:
tests.append({
    "input":{
        "cards":[10,9,8,8,8,8,5],
        "query":7
    },
    "output":-1
})

In [5]:
tests.append({
    "input":{
        "cards":[4,3,2,1],
        "query":2
    },
    "output":2
})

In [6]:
tests.append({
    "input":{
        "cards":[4,3,2,1],
        "query":1
    },
    "output":3
})

In [7]:
tests.append({
    "input":{
        "cards":[4,3,2,1],
        "query":4
    },
    "output":0
})

In [8]:
tests.append({
    "input":{
        "cards":[4],
        "query":4
    },
    "output":0
})

In [9]:
tests.append({
    "input":{
        "cards":[],
        "query":2
    },
    "output":-1
})

In [10]:
tests.append({
    "input":{
        "cards":[8,8,8,8,8,6,6,4,4,3,2,1],
        "query":4
    },
    "output":7
})

In [11]:
tests

[{'input': {'cards': [7, 6, 5, 4, 3, 2, 1], 'query': 3}, 'output': 4},
 {'input': {'cards': [10, 9, 8, 8, 8, 8, 5], 'query': 8}, 'output': 2},
 {'input': {'cards': [10, 9, 8, 8, 8, 8, 5], 'query': 7}, 'output': -1},
 {'input': {'cards': [4, 3, 2, 1], 'query': 2}, 'output': 2},
 {'input': {'cards': [4, 3, 2, 1], 'query': 1}, 'output': 3},
 {'input': {'cards': [4, 3, 2, 1], 'query': 4}, 'output': 0},
 {'input': {'cards': [4], 'query': 4}, 'output': 0},
 {'input': {'cards': [], 'query': 2}, 'output': -1},
 {'input': {'cards': [8, 8, 8, 8, 8, 6, 6, 4, 4, 3, 2, 1], 'query': 4},
  'output': 7}]

In [88]:
len([])

0

### checking function

In [12]:
def pass_or_not(function, test_set):
    for test in test_set:
        if function(**test['input']) == test["output"]:
            print("pass!")
        else:
            print("not pass: ", test)

In [13]:
locate_card([7,5,4,3,2,1,0], 12)

-1

In [14]:
pass_or_not(locate_card, tests)

pass!
not pass:  {'input': {'cards': [10, 9, 8, 8, 8, 8, 5], 'query': 8}, 'output': 2}
pass!
pass!
pass!
pass!
pass!
pass!
not pass:  {'input': {'cards': [8, 8, 8, 8, 8, 6, 6, 4, 4, 3, 2, 1], 'query': 4}, 'output': 7}

### 發現有些test set無法通過，修改function。加進一個helper function。

In [15]:
def test_location(cards, query, mid):
    mid_number = cards[mid]
    
    if mid_number == query:
        if mid-1 >= 0 and cards[mid-1] == query:
            return "left"
        else:
            return "found"
        
    elif mid_number > query:
        return "right"
    
    elif mid_number < query:
        return "left"

In [16]:
def locate_card(cards, query):
    
    small, big = 0, len(cards) - 1
    
    while small <= big:
   
        mid = (small+big) // 2
        mid_number = cards[mid]
        result = test_location(cards, query, mid)
          
        if result == "found":
            return mid
            
        elif result == "left":
            big = mid - 1
            
        elif result == "right":
            small = mid + 1
    
    return -1  #def遇到return就結束 吧

In [17]:
pass_or_not(locate_card, tests)

pass!
pass!
pass!
pass!
pass!
pass!
pass!
pass!
pass!

### 再練習一次

In [18]:
test_list = []
test1 = {
    "input":{
        "cards":[6,5,4,3,2,1,0],
        "query":3
    },
    "output":3
}

In [19]:
test_list.append(test1)

In [20]:
test_list.append({
    "input":{
        "cards":[6,5,4,3,2,0],
        "query":4
    },
    "output":2
})

In [21]:
test_list.append({
    "input":{
        "cards":[6,5,4,3,2,0],
        "query":12
    },
    "output":-1
})

In [22]:
test_list.append({
    "input":{
        "cards":[6,6,5,4,3,2,0],
        "query":6
    },
    "output":0
})

In [23]:
test_list.append({
    "input":{
        "cards":[6,6,6,6,3,2,0],
        "query":6
    },
    "output":0
})

In [24]:
#test_list.pop(4)

In [25]:
#test_list

In [26]:
test_list.append({
    "input":{
        "cards":[],
        "query":6
    },
    "output":-1
})

In [27]:
test_list.append({
    "input":{
        "cards":[2],
        "query":2
    },
    "output":0
})

In [28]:
test_list.append({
    "input":{
        "cards":[8,7,6,5,4,3],
        "query":8
    },
    "output":0
})

In [29]:
test_list.append({
    "input":{
        "cards":[8,7,6,5,4,3],
        "query":3
    },
    "output":5
})

In [30]:
def where_query(cards, query):
    
    low, high = 0, len(cards)-1
    
    while low <= high:
        mid = (low + high) // 2
        result = left_or_right(cards, query, mid)
        if result == "found":
            return mid
        elif result == "right":
            low = mid +1
        elif result == "left":
            high = mid - 1
            
    return -1

In [31]:
def left_or_right(cards, query, mid):
    mid_number = cards[mid]
    if mid_number == query:
        if mid - 1 >= 0 and cards[mid-1] == query:
                return "left"
        else:
                return "found"
    elif mid_number > query:
            return "right"
    elif mid_number < query:
                return "left"

In [32]:
def does_it_pass(function, tests):
    for test in tests:
        if function(**test["input"]) == test["output"]:
            print("pass!")
        else:
            print("not pass:", test)

In [33]:
does_it_pass(where_query, test_list)

pass!
pass!
pass!
pass!
pass!
pass!
pass!
pass!
pass!

## Question. Given an array of intergers sorted in ascending order, find the starting and ending position of a given number.

### creatre generic algorithm for binary search.

In [34]:
def binary_search(lo, hi, condition):
    
    while lo <= hi:
        mid = (lo + hi) // 2
        result = condition(mid)
        
        if result == "found":
            return mid
        elif result == "left":
            hi = mid -1
        elif result == "right":
            lo = mid + 1
            
    return -1

In [35]:
def locate_start(cards, query):
    
    def condition(mid):
        if cards[mid] == query:
            if mid - 1 >=0 and cards[mid -1] == query:
                return "left"
            else:
                return "found"
        elif cards[mid] > query:
            return "left"
        elif cards[mid] < query:
            return "right"
        
    return binary_search(0, len(cards)-1, condition)

In [36]:
def locate_end(cards, query):
    
    def condition(mid):
        if cards[mid] == query:
            if (len(cards)-1) - mid >= 1 and cards[mid + 1] == query:
                return "right"
            else:
                return "found"
        elif cards[mid] > query:
            return "left"
        elif cards[mid] < query:
            return "right"
        
    return binary_search(0, len(cards)-1, condition)

In [37]:
def locate_start_end(cards, query):
    return locate_start(cards, query), locate_end(cards, query)

In [38]:
tests=[]

In [39]:
tests.append({
    "input":{
        "cards":[1,2,3,4,5,5,5],
        "query":5
    },
    "output":tuple([4,6])
})

In [40]:
tests.append({
    "input":{
        "cards":[1,1,1,1,2,3,4,5],
        "query":1
    },
    "output":tuple([0,3])
})

In [41]:
tests.append({
    "input":{
        "cards":[1,2,3,4,4,4,4,5,6,],
        "query":4
    },
    "output":tuple([3,6])
})

In [42]:
tests.append({
    "input":{
        "cards":[1,2,3,4,5,5,5],
        "query":7
    },
    "output":-1
})

In [43]:
tests.append({
    "input":{
        "cards":[2,2,2,2],
        "query":2
    },
    "output":tuple([0,3])
})

In [44]:
tests.append({
    "input":{
        "cards":[5],
        "query":5
    },
    "output":tuple([0,0])
})

In [45]:
locate_start_end([1,2,3,3,3,4], 5)

(-1, -1)

In [46]:
tests[3]["output"] = tuple([-1,-1])

In [ ]:
pass_or_not(locate_start_end, tests)

# Lesson 2. Common data structure in python

## binary search trees, traversals and balancing

## Create a data structure, which can store 100 million records and perform 'insertation', 'seareches', 'updates', and 'list' operations efficiently.

### 認識class! 可以用class來處理

In [48]:
class User:
    def __init__(self, username, name, email):  #創造一個物件時
        self.username = username
        self.name = name
        self.email = email
        print("user created!")

In [49]:
user1 = User("joanne", "Joanne Tsai","annietsai@gmail.com")

user created!

In [50]:
user1

In [51]:
class User:
    def __init__(self, username, name, email):  #創造一個物件時
        self.username = username
        self.name = name
        self.email = email
        print("user created!")
            
    def introduce_yourself(self, guest_name):
        print("hello, {}! I am {}! Contact me at {}.". format(guest_name, self.name, self.email))
        
    def __repr__(self):
        return "username: {}, name: {}, email: {}".format(self.username, self.name, self.email)
    
    def __str__(self):
        return self.__repr__()

In [52]:
user1 = User("annie", "Annie Tsai", "annie@gamil.com")

user created!

In [ ]:
user1

### express our desired data structure as a class with four methods

In [53]:
class UserDatabase:
    def insert(self, user):
        pass
    
    def find(self, username):
        pass
    
    def update(self, user):
        pass
    
    def list_all(self):
        pass

### step2. examples

In [54]:
annie = User("annie", "Annie", "annie@gmail.com")
jim = User("jim", "Jim", "jim@gmail.com")
joanne = User("joanne", "Joanne", "joanne@gmail.com")
lova = User("lova", "Lova", "lova@gmail.com")

user created!
user created!
user created!
user created!

In [55]:
users = [annie, jim, joanne, lova]

In [56]:
joanne.email

'joanne@gmail.com'

In [57]:
print(joanne)

username: joanne, name: Joanne, email: joanne@gmail.com

In [58]:
users

[username: annie, name: Annie, email: annie@gmail.com,
 username: jim, name: Jim, email: jim@gmail.com,
 username: joanne, name: Joanne, email: joanne@gmail.com,
 username: lova, name: Lova, email: lova@gmail.com]

### step 4. implementation

In [59]:
class UserDatabase:
    
    def __init__(self):
        self.users = []
        
    def insert(self, user):
        i = 0
        while i < len(self.users):
            if user.username < self.users[i].username:
                break
            i+=1
        self.users.insert(i, user)
        
    def find(self, username):
        for user in self.users:
            if user.username == username:
                return user
        
    def update(self, user):
        target = self.find(user.username)
        target.name, target.email = user.name, user.email
        
    def list_all(self):
        return self.users

In [60]:
database = UserDatabase()

In [61]:
database.insert(annie)

In [62]:
database.insert(jim)

In [63]:
database.insert(lova)
database.insert(joanne)

In [64]:
database.users

[username: annie, name: Annie, email: annie@gmail.com,
 username: jim, name: Jim, email: jim@gmail.com,
 username: joanne, name: Joanne, email: joanne@gmail.com,
 username: lova, name: Lova, email: lova@gmail.com]

In [65]:
person = database.find("joanne")
person

username: joanne, name: Joanne, email: joanne@gmail.com

In [66]:
database.update(User("annie", "AAnnie", "annietsai86@gmail.com"))

user created!

In [67]:
database.find("annie")

username: annie, name: AAnnie, email: annietsai86@gmail.com

In [68]:
database.list_all()

[username: annie, name: AAnnie, email: annietsai86@gmail.com,
 username: jim, name: Jim, email: jim@gmail.com,
 username: joanne, name: Joanne, email: joanne@gmail.com,
 username: lova, name: Lova, email: lova@gmail.com]

In [69]:
cathy = User("cathy", "Cathy", "cathy@gmaail.com")

user created!

In [70]:
database.insert(cathy)

In [71]:
database.list_all()

[username: annie, name: AAnnie, email: annietsai86@gmail.com,
 username: cathy, name: Cathy, email: cathy@gmaail.com,
 username: jim, name: Jim, email: jim@gmail.com,
 username: joanne, name: Joanne, email: joanne@gmail.com,
 username: lova, name: Lova, email: lova@gmail.com]

### 再練習一次 比較笨的data base建構

In [ ]:
class Person:
    
    def __init__(self, username, name, mail):
        self.username = username
        self.name = name
        self.mail = mail
        print("personal information created!")
        
    def __repr__(self):
        return "Username: {}, Name: {}, Mail: {}.".format(self.username, self.name, self.mail)
    
    def __str__(self):
        return self.__repr__()
    
    def sayhito(self, guest):
        return "Hi, {}! This is {}.".format(guest, self.name)

In [ ]:
sheldon = Person("sheldon", "Sheldon", "sheldon@gmail.com")

In [ ]:
penny = Person("penny", "Penny", "penny@cornell.edu")

In [ ]:
leonard = Person("leonard", "Leonard", "leonard@cornell.edu")

In [ ]:
leonard.sayhito("Joanne")

In [ ]:
leonard.mail

In [72]:
class PersonDatabase:
    
    #建立一個PersonDatabase的時候，不需要輸入people資料，但這個PersonDatabase class自帶一people屬性，一開始是空的
    def __init__(self):
        self.people = []
    
    
    #用這個函數的時候，要填入的是一個物件（帶有三個屬性）
    def insert(self, person): 
        i = 0
        while i < len(self.people):
            if person.username < self.people[i].username:
                break
            i+=1
        self.people.insert(i, person)
    
    
    #用這個函數的時候，要填入的是一個string代表username
    def find(self, username):  
        for thing in self.people:
            if thing.username == username:
                return thing
    
    
    #用這個函數的時候，要填入一個物件（帶有三個屬性）
    def update(self, person):  
        target = self.find(person.username)
        target.name, target.mail = person.name, person.mail
    
    #用這個函數的時候，不須要填入額外的參數
    def listall(self):
        return self.people

In [ ]:
the_database = PersonDatabase

In [ ]:
the_database

In [ ]:
the_database = PersonDatabase()

In [ ]:
the_database

以上那兩個不一樣！？ＱＱ 要加（），不然會怪怪的，我不知道為什麼，我就是廢物ＱＱ 管用就行ＱＱ

In [ ]:
the_database.insert(sheldon)

In [ ]:
the_database.insert(penny)
the_database.insert(leonard)

In [ ]:
the_database.listall()

In [ ]:
the_database.find("penny")

In [ ]:
# 更新的時候，username不能改，因為我們就是用username去搜這筆資料並更改
new_penny = Person("penny", "New Penny", "newpennt@cornell.edu")

In [ ]:
the_database.update(new_penny)

In [ ]:
the_database.listall()

In [ ]:
amy = Person("amy", "Amy", "amy@cornell.edu")

In [ ]:
the_database.insert(amy)

In [ ]:
the_database.listall()

## Question. Implement a binary tree using python

In [73]:
class TreeNode:
    
    def __init__(self, key):
        self.key = key
        self.left = None
        self.right = None

In [74]:
node0 = TreeNode(3)

In [75]:
node1 = TreeNode(4)

In [76]:
node2 = TreeNode(5)

In [77]:
# 把root叫tree
tree = node0

In [78]:
tree.left = node1
tree.right = node2

And we're all done!

In [79]:
tree.left.key

4

In [80]:
root = TreeNode(2)
node1 = TreeNode(3)
root.left = node1
node2 = TreeNode(1)
node1.left = node2

這樣太累了

## Question. Create the following binary tree using the TreeNode class defined above. 去ipad看圖

In [81]:
def parse_tuple(data):
    if isinstance(data, tuple) and len(data) == 3:
        node = TreeNode(data[1])
        node.left = parse_tuple(data[0])
        node.right = parse_tuple(data[2])
    elif data == None:
        node = None
    else:
        node = TreeNode(data)
    return node

In [82]:
my_tuple = ((1,3, None), 2, ((None, 3,4), 5, (6,7,8)))

In [83]:
len(my_tuple)

3

In [84]:
tree2 = parse_tuple(my_tuple)

In [85]:
isinstance(tree2, TreeNode)

True

In [86]:
tree2.key

2

In [ ]:
tree2.right.right.left #這是一個Treenode物件

In [ ]:
tree2.left.left.left.key6

## Question. Define a function tree_to_tuple that converts a binary tree into a tuple representing the same tree.

In [87]:
def tree_to_tuple(tree):
    if isinstance(tree, TreeNode):
        data = [None, None, None]
        data[1] = tree.key
        
        if tree.left != None:
            data[0] = tree_to_tuple(tree.left)
        if tree.right != None:
            data[2] = tree_to_tuple(tree.right)
        tuple_data = tuple(data)
        
        if tree.left ==None and tree.right ==None:
            tuple_data = tree.key
                        
    elif tree is None:
        tuple_data = None
    
    return tuple_data

In [ ]:
tree_to_tuple(tree2)

In [ ]:
my_tuple

In [ ]:
tuple([4])

In [ ]:
another_tuple = (((7,1,None),5,None),7,((None,7,3),1,(None,5,(1,9,3))))

In [ ]:
another_tree = parse_tuple(another_tuple)

In [ ]:
another_tree.key

In [ ]:
another_tree.right.left.right.key

In [ ]:
tree_to_tuple(another_tree)

In [114]:
def remove_du(alist):    
    return len(np.unique(alist)), [*set(alist)]

In [115]:
a = [1,2,3,3,3,3,4,4,4,5,7,8,9,10,10]
remove_du(a)

(9, [1, 2, 3, 4, 5, 7, 8, 9, 10])

In [116]:
set(a)

{1, 2, 3, 4, 5, 7, 8, 9, 10}